#d1{min-height:200px;text-align:center;}
select{width:300px;display: inline-block;}
input{width:150px;margin:5px;}
button{width:300px;}
#d2{min-height:200px;text-align:center;}
table{border:none;border-spacing: 2px;margin-left:auto;margin-right:auto;text-align: center;}
thead{background-color: gray;color:whitesmoke;}
tbody tr:nth-child(odd){background-color: lightgrey;}
td{padding:0 0.5em;}