
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
ol {
    padding-left: 1.4em;
    list-style: decimal;
}
ul {
    padding-left: 1.4em;
    list-style: square;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.box{
    background-color: #e8eaf6;
    font-family: sans-serif,serif;
}
header{
    width:90%;
    margin-left:5%;
    margin-right:5%;
    min-width:600px;

}
hgroup{background-color: #1A237E;padding-top: 1em;padding-left:1em;padding-bottom:1em;color:white;}
header h1{font-size: 1.5em;}
header h2{
    font-style: italic;
    font-family: "Times New Roman";
    font-weight: normal;
}
nav{
    background-color: #3F51B5;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    font-size:1em;
}
ul{
    padding-left: 0.7em;
}
li{display: inline;}
li a{padding:0.3em;font-size:1em;}
li :hover{
    color:white;
    background-color: #f50057;
}
a{color:#00B0FF;}
.outer{
    background-color: white;
    margin-top: 0.5em;
    margin-bottom:0.5em;
    width:90%;
    margin-left:5%;
    margin-right:5%;
    padding-top:0.5em;
    padding-bottom:0.5em;
    min-width:600px;
}
.inner{
    border: solid;
    border-color: #c5cae9;
    border-width: 1px;
    margin-left:0.5em;
    margin-bottom:0.5em;
    margin-right:0.5em;
}
#i3{
    margin-bottom:0;
    padding-bottom:1em;
}
.inner h2{
    color:white;
    background-color:#7986CB;
    padding:1em;
}
#park{width:100%;vertical-align: bottom;}
figcaption{
    background-color: #c5cae9;
    padding-top: 0.5em;
    padding-bottom:0.5em;
    padding-left:1em;
    font-family: "Times New Roman";
    font-style: italic;
    color:#7990a3;
}
#i1 p{
    padding-left:1em;
    padding-top:0.5em;
    padding-bottom:1em;
    padding-right:1em;
    font-family: "Times New Roman";
}
p a{
    font-weight:bold;
}
#i1 footer{
    text-align: right;
    padding-right:1em;
    padding-bottom:0.5em;

}
#i2 img{
    vertical-align: text-bottom;
}
#i3 div{
    padding-top:0.5em;
    padding-left:1em;
    padding-bottom:0.5em;
}
#i3 span{
    font-family: "Times New Roman";
    font-style: italic;
    color:#c5cae9;
}
#i3 span time{
    color:#f5a2c1;
}
#i3 p{
    font-family: "Times New Roman";
    padding-top:0.5em;
}
hr{
    padding:0;
    margin-top:0;
    margin-bottom:0;
    margin-left:1em;
    margin-right:1em;
}
#f1{
    width:90%;
    margin-left:5%;
    margin-right:5%;
    min-width:600px;
    background-color: #1A237E;
    color:white;
}
footer div{
    padding-left:1em;
    padding-top:1.3em;
    padding-bottom:0.6em;
}
footer p{
    padding-bottom:1.3em;
    padding-left:1em;
    font-style: italic;
}